
.button-class{
  background-color:lightgrey;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 5px 5px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  cursor: pointer;
  background-color: lightgrey;
  color: white;
  border: 2px dotted hotpink;

}